# Python
backend/venv/
backend/__pycache__/
backend/src/__pycache__/
backend/src/*.pyc

# Environment Variables
backend/.env
.env
ENV
venv

# Node.js dependencies (if applicable)
node_modules/

# Frontend build outputs (if applicable)
frontend/node_modules/